# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
*.env

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# Dependency directories
*.egg-info/
dist/
build/

# Python package management
*.lock
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
.DS_Store
Thumbs.db
database.db
online_retail.db
sales_data.db
*.db
